.forms-wrapper {
    display: flex;
    width: 40%;
    max-width: 400px;
    min-width: 270px;
    align-items: center;
    height: 100vh;
    margin: 0 auto;

    --main-color: #f8fcff;
    --main-gray: #ffffff80;
    --error: red;
}

.forms {
    overflow: hidden;
    border-radius: .7em;
    width: 100%;
    height: fit-content;
    background-color: #0c0f14;
}

.toggle-type {
    display: flex;
}

.toggle-type button {
    user-select: none;
    padding: .5em 0;
    cursor: pointer;
    width: 100%;
    border: none;
    color: var(--main-color);
    font-size: large;
    background-color: transparent;
    border-bottom: 1px solid var(--main-color);
    transition: border-bottom 150ms ease, background-color 150ms linear;
}

.toggle-type button.active {
    background-color: #dee2e680;
}

.toggle-type button:hover {
    background-color: #dee2e680;
}

.forms-zone {
    padding: 1.5em 1em;
}

form div {
    margin: 0 0 1.5em 0;
} 

form input {
    font-size: medium;
}

form input[type=text] {
    color: var(--main-color);
    padding: .2em .3em;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main-gray);
    background-color: transparent;
}

form input[type=text]::placeholder {
    user-select: none;
}

form input[type=text].validate-error {
    border-bottom-color: var(--error);
}

form input[type=text].validate-error::placeholder {
    color: var(--error)
}

form > div {
    position: relative;
}

form .text-error {
    user-select: none;
    position: absolute;
    top: 100%;
    left: .2em;
    font-size: 11px;
    color: var(--error);
}

form input[type=submit] {
    border-radius: 1em;
    padding: .3em 1.5em;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}